<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
   
    <title>Crear categoria</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form method="post" action="#"th:action="@{/categorias/new/submit}" th:object="${categoria}">
<h1>
<span th:text="${id} ? 'Editar' : 'Nueva'"></span> categoria
</h1>
  <input type="hidden" th:field="*{id}" id="id"/>
  <div class="form-group">
	<label for="nombreInput">Nombre</label>
	<input class="form-control" type="text"	placeholder="Introduce Nombre" th:field="*{nombre}"></input>
  </div>				
   
    
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>