<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>aaaaaaaaaaaaaaaaaaaaaaaaa</title>
<link th:href="@{style.css}" rel="stylesheet"/>

<style type="text/css">
h1{color:#5F9EA0; font-size:27px;}

</style>
</head>
<body>
<div th:replace="fragments/header ::header"></div>
<h2>Student List</h2>
<table>
<tr>
<th>Id</th>
<th>FirstName</th>
<th>LastName</th>
<th>email</th>
</tr>

<tr th:each="student : ${students}">
<td th:text="${student.id}"></td>
<td th:text="${student.firstName}"></td>
<td th:text="${student.lastName}"></td>
<td th:text="${student.email}"></td>
<td class="actions"><a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary">Edit</a>   						
							<a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a> </td>  
</tr>
</table>
<a th:href="@{/students/new}">Add new</a>
<div th:replace="fragments/footer ::footer"></div>


</body>
</html>